<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Register</title>
  </head>
  <body>
    <nav id="navbar" class="">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo-nav">
          <!-- Logo Placeholder for Inlustration -->
          <a href="/index"><i class="fas fa-book-open"></i></a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          <p id="message" class="message">{{ message }}</p>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        {% block content %}    
        <form method="POST">
          {{ form.csrf_token }}

          {{ form.username.label() }}
          {{ form.username }}

          {{ form.password.label() }}
          {{ form.password }}

          {{ form.age.label() }}
          {{ form.age }}

          {{ form.sex.label() }}
          {{ form.sex }}

          {{ form.country.label() }}
          {{ form.country }}

          {{ form.city.label() }}
          {{ form.city }}

          {{ form.submit(class="btn") }}
        </form>

        {% endblock %}
  </body>
</html>
